# rename this file to .env

GOOGLE_GENAI_USE_VERTEXAI=true
GOOGLE_CLOUD_PROJECT="oracle-peoplesoft-toolkit"

# GOOGLE_CLOUD_PROJECT_NUMBER=$(gcloud projects describe $GOOGLE_CLOUD_PROJECT --format="value(projectNumber)")
GOOGLE_CLOUD_PROJECT_NUMBER=123456
GOOGLE_CLOUD_LOCATION="us-central1"
GOOGLE_CLOUD_BUCKET_NAME="peoplesoft-agent-staging"
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=true
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true
#MCP_SERVER_SQL_URL="https://mcp-toolbox-peoplesoft-${GOOGLE_CLOUD_PROJECT_NUMBER}.${GOOGLE_CLOUD_LOCATION}.run.app/mcp/"
MCP_SERVER_SQL_URL="https://mcp-toolbox-peoplesoft-123456.us-central1.run.app/mcp"
#MCP_SERVER_PSFT_URL="https://mcp-toolbox-peoplesoft-${GOOGLE_CLOUD_PROJECT_NUMBER}.${GOOGLE_CLOUD_LOCATION}.run.app/mcp/"
MCP_SERVER_PSFT_URL="https://mcp-toolbox-peoplesoft-123456.us-central1.run.app/mcp"
DEFAULT_PSFT_USER_EMAIL="admin@negonzal.altostrat.com"

DEBUG=true