GOOGLE_GENAI_USE_VERTEXAI=true
GOOGLE_CLOUD_PROJECT="psft-fscm-showcase"
GOOGLE_CLOUD_PROJECT_NUMBER=801681953257
GOOGLE_CLOUD_LOCATION="us-central1"
GOOGLE_CLOUD_BUCKET_NAME="psft-fscm-showcase-agent-staging"
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=true
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=true
MCP_SERVER_SQL_URL="https://mcp-toolbox-peoplesoft-r6legqrkba-uc.a.run.app/mcp"
MCP_SERVER_PSFT_URL="https://mcp-toolbox-peoplesoft-r6legqrkba-uc.a.run.app/mcp"
DEFAULT_PSFT_USER_EMAIL="admin@negonzal.altostrat.com"
DEBUG=false
